@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

body {
    background-color: #242240;
}

/* FORM */
#form-container {
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, 0.2);
    margin: 25px auto;
    padding: 25px;

}

/* @media(min-width: 768px) {
#form-container {
    margin: 50px;
    padding: 50px;
}
} */
    

#form-container h2 {
    font-weight: 900;
    margin-bottom: 30px;
    font-family: 'poppins', 'sans-serif';
    font-weight: 400;
    font-size: 25px;
}

#form-container a {
    color: #222;
    transition: .5s;
    font-family: 'poppins', 'sans-serif';
    font-weight: 400;
}

#form-container a:hover {
    color: #536dfe;
}

#form-container form {
    padding-bottom: 0px;
}

#form-container .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;  
}

#form-container .form-control:focus {
    box-shadow: none;
}

#form-container .form-floating label {
    color: #ccc;
    font-family: 'poppins', 'sans-serif';
    font-weight: 200;
}

#form-container .form-floating>.form-control:focus~label {
    color: rgb(179, 177, 177);
}

#form-container input[type="submit"] {
    background-color: #15c5c5;
    border-color: #15c5c5;
}

/* mudando a cor do botão */

#form-container .btn-primary{
    font-family: 'poppins', 'sans-serif';
    font-weight: 400;
    font-size: auto;
}

#form-container input[type="submit"]:hover {
    background-color: #0aa3a3;
    border-color: #0aa3a3;
}

#form-container input[type="checkbox"]:checked{
    background-color: #0aa3a3;
    border-color: #0aa3a3;
}
/* aqui consigo deixar o check box com a cor dos botões e a palavra (checked) deixa com cor de fundo só o que for ticado */

.btn.btn-primary{
    width: 100%;
    margin-top: 25px;
}

@media(min-width: 768px){
    .btn.btn-primary{
        width: auto;
    }
}

/* Mudando a cor quando paso o mouse */

/* IMAGEM */
.row.aling-items-center {
    align-content: center;
    height: 100%;
    padding: 50px 0;
}

.col-md-6.order-md-1{
    padding-top: 50px;
}

@media(min-width: 768px){
    .col-md-6.order-md-1{
        padding-top: 0;
    }
}

#link-container {
    text-align: center;
    padding-top: 30px;
}
